<div>
    <h1 style="color:red">Validation Unsuccessful</h1>
    <h2>Following category mapping(s) not present in the current DB</h2><br/><br/>
    <table class="table table-striped" border='1'>
        <thead>
            <tr>
                <th>Row Number</th>
                <th>Current Parent Category</th>
                <th>Sub Category</th>
            </tr>
        </thead>
        <tbody><!--  class="preview"> -->
            <% @result.each do |r| %>
                <tr>
                    <td>
                        <%= r[0]%>
                    </td>
                    <td>
                        <%= r[1]%>
                    </td>
                    <td>
                        <%= r[2]%>
                    </td>
                </tr>
                <% end %>
        </tbody>
    </table>
    <%= button_to('Retry Validation', validate_path, :class => 'btn btn-large btn-primary', method: 'get')  %>
</div>
