<h1 style="color:red">Note : All Migration Tables Will Be Deleted !</h1>
<br/>
<div class="row col-xs-12">
    <div class="col-xs-6">
        <h2>Are you sure ? </h2>
    </div>
    <div class="col-xs-6">
        <%= link_to "Yes", '/delete-migrations' , :class => 'btn btn-large btn-danger'%>
        <%= link_to "No", '/categories' , :class => 'btn btn-primary'%>
    </div>
</div>
